<%= labelled_fields_for :pref, @user.pref do |pref_fields| %>
<p><%= pref_fields.select :currency, options_from_collection_for_select(Currency.all, 'id', 'name', @user.pref[:currency]) %></p>
<% end %>
